@import url('https://rsms.me/inter/inter.css');

html {
	font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
	html {
		font-family: 'Inter var', sans-serif;
	}
}

/* Reset CSS */

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	text-decoration: none;
	font-weight: inherit;
	font-style: inherit;
	color: inherit;
	font-size: 100%;
	vertical-align: baseline;
	list-style: none;
	border-collapse: separate;
	border-spacing: 0;
}

body {
	background-color: white;
	color: black;
	max-width: 600px;
	padding: 30 80;
}

body header a#logo {
	display: block;
	width: 130px;
	margin-bottom: 20;
}

body header a#logo img {
	margin-left: -6px;
	width: 100%;
}

body h1 {
	font-size: 50px;
	text-transform: lowercase;
	margin-bottom: 30px;
}

body h2 {
	font-size: 38px;
	text-transform: lowercase;
	margin-bottom: 20px;
}

body h3 {
	font-size: 26px;
	font-weight: bold;
	text-transform: lowercase;
	margin: 20px 0px;
}

body h4 {
	margin: 8px 0px;
	font-size: 18px;
	font-weight: bold;
	text-transform: lowercase;
}

body>h3 a {
	text-decoration: underline;
}

body ul {
	font-family: monospace;
	font-size: 20px;
	line-height: 25px
}

body>ul li a {
	text-transform: capitalize;
}

body>ul li b {
	font-weight: bold;
}

body>ul li:hover a {
	text-decoration: none;
}

body ul.double_column {
	font-size: 14px;
	columns: 2;
}

body ul.double_column li {
	list-style-type: decimal-leading-zero;
	list-style-position: inside;
}

body ul.single {
	margin-bottom: 10px;
	font-size: 14px;
	columns: 1;
}

body ul.single li {
	list-style-position: inside;
}

body>p {
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 10px;
}

body>p a {
	text-decoration: underline
}

body>p b {
	font-weight: bold
}

body>p i {
	line-height: 28px;
	font-size: 18px;
	font-style: italic
}

body>pre {
	font-family: monospace;
	padding: 15px;
	border: 2px dotted black;
	margin: 20px 0px;
}

body>code {
	font-family: monospace;
	font-size: 14px;
	display: block;
	padding: 10px;
}


body p>code {
	font-family: monospace;
	padding: 4px;
	color: teal;
	border-radius: 8%;
}

@media (max-width: 1000px) {
	body {
		padding: 30px
	}

	body>ul.double_column {
		columns: 1 !important
	}
}

blockquote {
	border: black 1px dashed;
	margin: 20px 0px;
	padding: 0.5em 10px;
	font-weight: lighter;
	font-style: italic;
	font-family: monospace;
	font-size: 15px;
	max-width: 400px;
}

body ol > li{
	margin: 10px 0px;
	text-decoration: underline;
}

hr {
	border: 1px solid black;
	margin: 15px 0px;
}

p {
	margin: 15px 0px;

}

.date {
	margin: 30px 0px;
	font-size: 10px;
}

a {
	text-decoration: underline;
}

.quote {
	padding: 15px 30px;
	font-size: 14px;
	font-style: italic;
	max-width: 400px;
}

a sup {
	display: inline-block;
	text-decoration: none;
	vertical-align: super;
	font-size: 12px;
	color: teal;
}
